*{
  margin:0;
  padding:0;
}
.bg {
  height: 60vh;
  width: 30vw;
  border-radius:15px;
  box-shadow: 3px 3px 4px 4px grey;
  display: flex;
  flex-direction: column;
  margin-left: 25vw;
  margin-top: 19vh;
  
}
.root{
  width:80vw;
  margin-left:10vw;
  background-color:hsl(214, 77%, 29%);
  height:55vh;
 top:0;
  position:absolute;

}
.root1{
  width:80vw;
  margin-left:0vw;
  background-color: rgb(75, 113, 166);;
  height:3vh;
 top:55vh;
  position:absolute;
  z-index: -1;

}
.box {
  height: 40vh;
  width: 30vw;
  background-color: white;
  text-align: justify;
  overflow-y: scroll;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-weight: 600;
  height: 15vh;
  width: inherit;
  background-color: lightgray;

}
img {
  height: 30px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
  padding-top: 0.5vh;
}
li {
  list-style-type: none;
  width: 20vw;
  height: 8vh;
  border-bottom: 1px solid black;
  margin: auto;
  display: flex;

  padding-top: 2vh;
}
li p {
  margin-left: 1vw;
  font-size: 1vw;
  padding-top: 1vh;
  font-weight: 600;
}
