.container {
  display: grid;
  grid-template-columns: 15% 75%;
  justify-content: space-around;
  grid-gap: 3px;
  margin-top: 5vh;
}


/* .container div {
  border: 1px solid black;
} */
.container header {
  height: 8vh;
  padding-bottom: 5vh;
  border-bottom: 1px solid lightgray;
}
.container header p{
  margin-left:1vw;
  font-size:13px;
  font-weight: 500;
  margin-top:1vh;
}
.profileinfo {
  display: flex;
  justify-content: flex-end;
}
nav{
  
  display:flex;
  justify-content: center;
  align-items:center;
   height:90vh;
   /* border:1px solid black; */
   background: #2170d0;
   border-radius:10px;
   
}
ul{
  display:flex;
  flex-direction:column;
  width:inherit;

}
.Link{
 width:10vw;
  border-bottom:1px solid rgb(237, 229, 229);
  color:rgba(237, 229, 229, 0.764);
  text-decoration: none;
  height:7vh;
  padding-top:2vh;
}
.Link:active{
  color:white;
  border-top-left-radius: 6px;
}
