*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}main{
    width:90%;
 display:grid;
 grid-template-columns: 35% 75%;
 grid-gap:6px;
}
main p{
    font-size:1.2vw;
}
.mainright{
    /* border:1px solid black; */
    height: 85vh;
    display:grid;
    grid-template-rows: 68% 10%;
}
.mainleft{
    /* border:1px solid black; */
    height:75vh;
    border-left:1px solid lightgray;
    margin-top:3vh;
}
.mainright .top{
    border-bottom:1px solid lightgray;
    width:70%;
   margin-left:15%;
   display:flex;
   flex-direction:column;
 
}


.top img{
    height:60px;
   width:50px;
   margin-left:5vw;
  margin-top:1vh;

}
.key{
    color:rgb(187, 180, 180);
    font-weight:500;

}
.value{
    color:rgb(91, 73, 73);
    font-weight: 600;
}
.mainright p{
    margin-top:2vh;
  
}
.bottom p{
    margin-left:5vw;
}
.textcenter{
    text-align: center;
}
.textleft{
    text-align:left;
    margin-left:3vw;
    margin-top:3vh;
}
.mainleft p{
    margin-top:3vh;
    margin-left:5vw;
    
}